<div class="content-box">
    <div class="top-section">
        <div class="img-part">
            <img src="../../../assets/images/Book14.webp" alt="single">
        </div>
        <div class="description">
            <h3>Things Fall Apart</h3>  
            <p class="author">By <span>Chinua Achebe</span></p>  
            <p>
                Jamie Fraser and Claire Randall were torn apart by the Jacobite 
                Rising in 1746, and it took them twenty years to find each other again. 
                Now the American Revolution threatens to do the same.
            </p>     
            <p>
                Jamie Fraser and Claire Randall were torn apart by the Jacobite 
                Rising in 1746, and it took them twenty years to find each other again. 
                Now the American Revolution threatens to do the same.
            </p>  
            <p>
                Jamie Fraser and Claire Randall were torn apart by the Jacobite 
                Rising in 1746, and it took them twenty years to find each other again. 
                Now the American Revolution threatens to do the same.
            </p>      
        </div>
    </div>  
</div>