.img-box {
    background-image: url("../../../assets/images/NewBg.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
}

.items{
    display: flex;
    justify-content: flex-end;
}

.items .item{
    margin-top: 12%;
    margin-right: 5%;
    padding: 25px ;
    position: relative;
}

.item h1{
    font-size: 65px;
    color: #fff;
    margin-bottom: 20PX;
}

.item a{
    background-color: #FF9606;
    outline: none;
    border: 0;
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    animation-name: vibrate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    

}

@keyframes vibrate {
    100% {padding: 10px 25px;}
}