<div class="form-bg">
    <div class="login-form">
        <h2>Sign up</h2>
        <div class="fields">
            <input type="text" placeholder="Firstname">
            <input type="text" placeholder="Lastname">
            <input type="text" placeholder="Email Address">
            <input type="number" placeholder="Phone number">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Comfirm password">
            <input type="submit" placeholder="Submit">
        </div>
    </div>

</div>