/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1eee9;
    font-family: 'Barlow', sans-serif;
}

.cont{
    width: 100%;
}